.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  overflow: hidden;
}

.modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 982px;
  max-height: 90vh;
  background: white;
  padding: 40px;
  border-radius: 8px;
  overflow-y: auto;
}

.modalMainInfo {
  display: flex;
  justify-content: space-between;
}

.closeButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.modalCloseIcon {
  stroke: #101828;
}

.modalImageContainer {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}

.modalImage {
  border-radius: 10px;
  width: 290px;
  height: 310px;
  object-fit: cover;
}

.modalTitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
  color: #101828;
  margin-bottom: 8px;
}

.modalSupInfo {
  display: flex;
  margin-right: 16px;
  margin-bottom: 16px;
}

.modalStarIcon {
  fill: gold;
  margin-right: 4px;
}

.modalReview {
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #101828;
  margin-right: 16px;
}

.modalLocation {
  display: flex;
}

.modalLocationIcon {
  fill: transparent;
  stroke: #101828;
  margin-right: 4px;
}

.modalLocation {
  font-size: 16px;
  color: #101828;
}

.modalPrice {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
  color: #101828;
  margin-right: 10px;
  margin-bottom: 24px;
}

.modalDescription {
  font-weight: 400;
  font-size: 16px;
  color: #475467;
  margin-bottom: 44px;
}

.modalAdditionalInfo {
  position: relative;
  padding-bottom: 24px;
  margin-bottom: 68px;
}

.modalAdditionalInfo::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(16, 24, 40, 0.2);
}

.modalAdditionalFeaturesButton {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
  background-color: transparent;
  padding: 0;
  margin-right: 40px;
}

.modalAdditionalReviewButton {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
  background-color: transparent;
  padding: 0;
}

.activeTab {
  position: relative;
}

.activeTab::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -24px;
  width: 100%;
  height: 5px;
  background-color: #e44848;
}
